body {
    font-size: 6em;
    text-align: center;
}

.count {
    margin: 0;
    color: #888;
    font-weight: bold;
}

.wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background: #888;
    font-weight: bold;
    color: #fff;
}

.typed {
    color: lightgreen;
}

.mistyped {
    background-color: red;
}

.typedcount {
    font-size: 1em;
    color: #888;
    margin-top: 20px;
}